<form ng-submit="update()" class="row">
    <section class="invoice-information col-md-4">

        <div class="form-horizontal">
            <div class="form-group">
                <label for="datetime" class="control-label col-sm-3">Tanggal</label>

                <div class="col-sm-9">
                    <span class="form-control unboxed-form-control">
                        {{ salesInvoice.datetime | date:'dd MMM y hh:mm:ss' }}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="code" class="control-label col-sm-3">Code</label>

                <div class="col-sm-9">
                    <input type="text"
                        id="code"
                        class="form-control"
                        ng-model="salesInvoice.code"
                        required />
                </div>
            </div>

            <div class="form-group">
                <label for="customer" class="control-label col-sm-3">Pelanggan</label>

                <div class="col-sm-9">
                    <select
                        id="customer"
                        class="form-control"
                        ng-model="salesInvoice.customer.id"
                        ng-options="customer.id as customer.name for customer in customers"
                        required />
                </div>
            </div>

            <div class="form-group">
                <label for="products" class="control-label col-sm-3">Products</label>

                <div class="col-sm-9">
                    <select id="products"
                        class="form-control"
                        ng-model="selectedProduct"
                        ng-dblclick="pushToInvoices()"
                        ng-options="product as product.name for product in products"
                        size="15"
                        required>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <input type="submit"
                        class=" btn btn-info"
                        value="Update" />
                </div>
            </div>
        </div>

    </section>

    <section class="col-md-8">
        <table class="table table-bordered table-striped" ng-show="isInvoiceAvailable()">
            <thead>
                <tr>
                    <th>##</th>
                    <th>Nama Barang</th>
                    <th>Harga Jual</th>
                    <th>Qty</th>
                    <th>Harga Total</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="detail in salesInvoice.details">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ detail.product.name }}</td>
                    <td>{{ detail.product.sellPrice | currency:'Rp' }}</td>
                    <td>
                        <input
                            type="number"
                            class="form-control"
                            data-id="{{detail.product.id}}"
                            ng-model="detail.quantity"
                            min="1"
                            max="{{detail.product.stock}}"
                            autofocus />
                    </td>
                    <td>{{ calculateSellPrice(detail) | currency:'Rp' }}</td>
                    <td>
                        <a href="javascript:"
                            class="label label-default no-underline"
                            ng-click="remove($index)">Delete</a>
                    </td>
                </tr>

                <tr>
                    <th colspan="3"></th>
                    <th>{{ totalQuantity() }}</th>
                    <th>{{ totalSellPriceBeforeDiscount() | currency:'Rp' }}</th>
                    <th>
                        <a href="javascript:"
                            class="label label-danger no-underline"
                            ng-click="removeAll()">Delete All</a>
                    </th>
                </tr>
            </tbody>

            <tfoot class="form-horizontal">
                <th colspan="2" class="form-group">
                    <label for="discount" class="control-label col-sm-6">
                        Discount (%)
                    </label>
                    
                    <input
                        type="number"
                        id="discount"
                        class="form-control discount-input"
                        ng-model="salesInvoice.discount"
                        min="0"
                        max="100"
                        step="0.1">
                    </input>
                </th>
                <th colspan="2">GRAND TOTAL</th>
                <th>{{ totalSellPriceAfterDiscount() | currency:'Rp' }}</th>
                <th></th>
            </tfoot>
        </table>

        <div ng-hide="isInvoiceAvailable()">
            <p class="text-muted">Data tidak ada</p>
        </div>
    </section>
</form>